<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" />
</head>
<body>
<div layout:fragment="content">
<div class="container">

    <div class="row">
        <div id="title">
            This is user name from auth client database:
            <h1>Welcome, <div th:if="${currentUser != null}" class="navbar-text px-2" th:text="${currentUser.firstName}"></div>!</h1>
            And this is a name of OidcUser from principal:
            <h1>Welcome, <div th:if="${#authentication != null}" class="navbar-text px-2" th:text="${#authentication.principal.attributes.name}"></div>!</h1>

            <table>
                <thead>
                    <tr>
                        <th> Friends:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="friend: ${friendsData}">
                        <td>
                            <form th:action="@{/friends/} + ${friend.id} + @{/delete}" th:method="post">
                                <span th:text="${friend.firstName}"></span>
                                <span th:text="${friend.lastName}"></span>
                                <button th:id="'delete_friend_button_' + ${friend.id}" type="submit">
                                    <i>X</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

            <form id="friendForm" action="#" th:action="@{/friends}" th:object="${friend}" method="post">
                <span class="formSpan">
                    <label for="friendId">Add friend (id):</label>
                    <input id="friendId" type="text" th:field="*{friendId}" required="required"/>
                </span>
            </form>
        </div>
    </div>

</div>
</div>
</body>
</html>